@model Warehouse.Models.Cargo
@{
    ViewData["Title"] = "Cargo Info";
}


<style type="text/css">
    TABLE {
        border: 1px solid black;
    }

    TR {
        padding: 3px; 
        border: 1px solid black; 
    }
</style>
<div class="text-left">
    <table style="width:100%;" class="col-md-12">
        <tr align="center">
            <td>Номер груза</td>
            <td>Кол-во паллет</td>
            <td>Номер заказа</td>
            <td></td>
            <td></td>
        </tr>
        <tr align="center">
            <td>@Model.Number</td>
            <td>@Model.NumOfPalletes</td>
            <td>@Model.Order.Number</td>
            <td>@Html.ActionLink("Изменить", "Edit", "Cargo", new { cargoId = Model.ID, orderId = Model.OrderId })</td>
            <td>
                <form asp-controller="Cargo" asp-action="Delete">
                    <input type="hidden" value="@Model.ID" name="id" />
                    <input type="submit" value="Удалить" onclick="return confirm('Вы точно хотите удалить груз №@Model.Number?');" />
                </form>
            </td>
        </tr>
    </table>
</div>
