@model Warehouse.Models.Product
@{
    ViewData["Title"] = "Добавление";
}

<h3>Форма добавления продукта</h3>
@using (Html.BeginForm("Add", "Product", FormMethod.Post))
{
    <p>
        @Html.LabelFor(m => m.Place.Storage.Name, "Наименование склада")
        @Html.TextBoxFor(m => m.Place.Storage.Name, new { list = "namesStorages", @required = "required" })
        <datalist id="namesStorages">
            @foreach (var name in ViewBag.StorageNames)
            {
                <option value="@name">@name</option>
            }
        </datalist>
    </p>
    <p>
        @Html.LabelFor(m => m.Place.Storage.Territory, "Территория склада")
        @Html.TextBoxFor(m => m.Place.Storage.Territory, new { list = "territoriesStorages", @required = "required" })
        <datalist id="territoriesStorages">
            @foreach (var territory in ViewBag.StorageTerritories)
            {
                <option value="@territory">@territory</option>
            }
        </datalist>
    </p>
    <p>
        @Html.LabelFor(m => m.Place.Sector, "Сектор")
        @Html.TextBoxFor(m => m.Place.Sector, new { type = "number", @required = "required", min = 0 })
    </p>
    <p>
        @Html.LabelFor(m => m.Place.Number, "Ряд")
        @Html.TextBoxFor(m => m.Place.Number, new { type = "number", @required = "required", min = 0 })
    </p>
    <p>
        @Html.LabelFor(m => m.Place.MaxPalletes, "Вместимость(паллет)")
        @Html.TextBoxFor(m => m.Place.MaxPalletes, new { type = "number", @required = "required", min = 0 })
    </p>
    <p>
        @Html.LabelFor(m => m.Name, "Наименование продукции")
        @Html.TextBoxFor(m => m.Name, new { @required = "required" })
    </p>
    <p>
        @Html.LabelFor(m => m.Code, "Код продукта")
        @Html.TextBoxFor(m => m.Code, new { list = "codeProducts", @required = "required" })
        <datalist id="codeProducts">
            @foreach (var code in ViewBag.Codes)
            {
                <option value="@code">@code</option>
            }
        </datalist>
    </p>
    <p>
        @Html.LabelFor(m => m.BoxesInPallete, "Кол-во коробов в паллете")
        @Html.TextBoxFor(m => m.BoxesInPallete, new { type = "number", min = 0 })
    </p>
    <p>
        @Html.LabelFor(m => m.Party, "Партия")
        @Html.TextBoxFor(m => m.Party)
    </p>
    <p>
        @Html.LabelFor(m => m.Term, "Срок")
        @Html.TextBoxFor(m => m.Term, "", new { type = "date", @required = "required" })
    </p>
    <p>
        @Html.LabelFor(m => m.Comment, "Примечания")
        @Html.TextBoxFor(m => m.Comment)
    </p>
    <p>
        @Html.LabelFor(m => m.NumOfPalletes, "Кол-во паллет")
        @Html.TextBoxFor(m => m.NumOfPalletes, new { type = "number", @required = "required", min = 0 })
    </p>
    <p>
        @Html.LabelFor(m => m.Cost, "Стоимость паллеты")
        @Html.TextBoxFor(m => m.Cost, new { type = "number", @required = "required", min = 0 })
    </p>
    <p><input type="submit" value="Добавить" /></p>
}

