@model Warehouse.Models.Product
@{
    ViewData["Title"] = "Редактирование";
}

<h3>Форма редактирования продукта</h3>
@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    @Html.Hidden("ID", Model.ID)
    <p>
        @Html.LabelFor(m => m.Place.Storage.Name, "Наименование склада")
        @Html.TextBoxFor(m => m.Place.Storage.Name, new { list = "namesStorages", @required = "required", @value = Model.Place.Storage.Name })
        <datalist id="namesStorages">
            @foreach (var name in ViewBag.StorageNames)
            {
                <option value="@name">@name</option>
            }
        </datalist>
    </p>
    <p>
        @Html.LabelFor(m => m.Place.Storage.Territory, "Территория склада")
        @Html.TextBoxFor(m => m.Place.Storage.Territory, new { list = "territoriesStorages", @required = "required", @value = Model.Place.Storage.Territory })
        <datalist id="territoriesStorages">
            @foreach (var territory in ViewBag.StorageTerritories)
            {
                <option value="@territory">@territory</option>
            }
        </datalist>
    </p>
    <p>
        @Html.LabelFor(m => m.Place.Sector, "Сектор")
        @Html.TextBoxFor(m => m.Place.Sector, new { @required = "required", @value = Model.Place.Sector })
    </p>
    <p>
        @Html.LabelFor(m => m.Place.Number, "Ряд")
        @Html.TextBoxFor(m => m.Place.Number, new { @required = "required", @value = Model.Place.Number })
    </p>
    <p>
        @Html.LabelFor(m => m.Place.MaxPalletes, "Вместимость(паллет)")
        @Html.TextBoxFor(m => m.Place.MaxPalletes, new { @required = "required", @value = Model.Place.MaxPalletes })
    </p>
    <p>
        @Html.LabelFor(m => m.Name, "Наименование продукции")
        @Html.TextBoxFor(m => m.Name, new { @required = "required", @value = Model.Name })
    </p>
    <p>
        @Html.LabelFor(m => m.Code, "Код продукта")
        @Html.TextBoxFor(m => m.Code, new { list = "codeProducts", @required = "required", @value = Model.Code })
        <datalist id="codeProducts">
            @foreach (var code in ViewBag.Codes)
            {
                <option value="@code">@code</option>
            }
        </datalist>
    </p>
    <p>
        @Html.LabelFor(m => m.BoxesInPallete, "Кол-во коробов в паллете")
        @Html.TextBoxFor(m => m.BoxesInPallete, new { @value = Model.BoxesInPallete })
    </p>
    <p>
        @Html.LabelFor(m => m.Party, "Партия")
        @Html.TextBoxFor(m => m.Party, new { @value = Model.Party })
    </p>
    <p>
        @Html.LabelFor(m => m.Term, "Срок")
        @Html.TextBoxFor(m => m.Term, "{0:yyyy-MM-dd}", new { type = "date", @required = "required", @value = Model.Term })
    </p>
    <p>
        @Html.LabelFor(m => m.Comment, "Примечания")
        @Html.TextBoxFor(m => m.Comment, new { @value = Model.Comment })
    </p>
    <p>
        @Html.LabelFor(m => m.NumOfPalletes, "Кол-во паллет")
        @Html.TextBoxFor(m => m.NumOfPalletes, new { @required = "required", @value = Model.NumOfPalletes })
    </p>
    <p>
        @Html.LabelFor(m => m.Cost, "Стоимость паллеты")
        @Html.TextBoxFor(m => m.Cost, new { @required = "required", @value = Model.Cost })
    </p>
    <p><input type="submit" value="Сохранить" /></p>
}
