@{
    ViewData["Title"] = "Отчет по срокам годности товаров";
}

<style type="text/css">
    TABLE {
        border: 1px solid black;
    }

    TR {
        padding: 3px;
        border: 1px solid black;
    }
</style>
<div class="text-center">
    <h1 class="col-md-12">Продукция</h1>
</div>
<div class="text-left">
    <table style="width:100%;" class="col-md-12">
        <tr align="center">
            <td>Наименование</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var storage in ViewBag.Storages)
        {
            <tr align="center">
                <td>@storage.Territory (@storage.Name)</td>
            </tr>

            @foreach (var place in storage.Places)
            {
                <tr align="center">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var product in place.Products)
                {
                    <tr align="center">
                        <td>@product.Code @product.Name @product.Party @product.Term @product.NumOfPalletes @product.BoxesInPallete  </td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }
        }
    </table>
</div>