@model Warehouse.Models.Order
@{
    ViewData["Title"] = "Добавление заказа";
}

<h3>Форма добавления заказа</h3>
@using (Html.BeginForm("Add", "Order", FormMethod.Post))
{
    <p>
        @Html.LabelFor(m => m.Type, "Тип погрузки")
        @Html.TextBoxFor(m => m.Type, new { @required = "required" })
    </p>
    <p>
        @Html.LabelFor(m => m.ArrivalTime, "Плановое время")
        @Html.TextBoxFor(m => m.ArrivalTime, new { type = "date", @required = "required" })
    </p>
    <p>
        @Html.LabelFor(m => m.Customer.FIO, "ФИО заказчика")
        @Html.TextBoxFor(m => m.Customer.FIO, new { @required = "required" })
    </p>
    <p>
        @Html.LabelFor(m => m.Customer.PhoneNumber, "Номер телефона заказчика")
        @Html.TextBoxFor(m => m.Customer.PhoneNumber, new { @required = "required" })
    </p>
    <p><input type="submit" value="Добавить" /></p>
}