@model Warehouse.ViewModels.CargoOrderViewModel
@{
    ViewData["Title"] = "Добавление заказа";
}

<h3>Форма добавления груза</h3>
@using (Html.BeginForm("AddCargo", "Order", FormMethod.Post))
{
    @Html.Hidden("OrderId", Model.OrderId)
<p>
    @Html.LabelFor(m => m.Cargo.Number, "Номер заказа")
    @Html.TextBoxFor(m => m.Cargo.Number, new { @required = "required", type = "number" })
</p>
    <p>
        @Html.LabelFor(m => m.Cargo.NumOfPalletes, "Кол-во паллет")
        @Html.TextBoxFor(m => m.Cargo.NumOfPalletes, new { type = "number", @required = "required" })
    </p>
    <p>
        @Html.LabelFor(m => m.Cargo.Product.ID, "Продукт")
        @Html.TextBoxFor(m => m.Cargo.Product.ID, new { list = "products", @required = "required" })
        <datalist id="products">
            @foreach (var product in ViewBag.Products)
            {
                <option value="@product.ID">@product.Name - @product.Code</option>
            }
        </datalist>
    </p>
    <p><input type="submit" value="Добавить" /></p>
}