@model Warehouse.Models.Order
@{
    ViewData["Title"] = "Order Info";
}


<style type="text/css">
    TABLE {
        border: 1px solid black; /* Рамка вокруг таблицы */
    }

    TR {
        padding: 3px; /* Поля вокруг содержимого ячеек */
        border: 1px solid black; /* Рамка вокруг таблицы */
    }
</style>
<div class="text-center">
    <h1 class="col-md-12">Заказ №@Model.ID</h1>
</div>
<div class="text-left">
    <table style="width:100%;" class="col-md-12">
        <tr align="center">
            <td>Тип</td>
            <td>Плановое время</td>
            <td>Заказчик</td>
            <td>Компания</td>
            <td>Город</td>
            <td>Номер телефона заказчика</td>
            <td>Номер авто</td>
            <td>Вместимость в авто</td>
            <td>Наименование авто</td>
            <td>ФИО водителя</td>
            <td>Номер телефона водителя</td>
            <td>Опыт водителя</td>
            <td></td>
            <td></td>
        </tr>
        <tr align="center">
            <td>@Model.Type</td>
            <td>@Model.ArrivalTime</td>
            <td>@Model.Customer.FIO</td>
            <td>@Model.Customer.CompanyName</td>
            <td>@Model.Customer.City</td>
            <td>@Model.Customer.PhoneNumber</td>
            <td>@Model.Vehicle.Number</td>
            <td>@Model.Vehicle.Capacity</td>
            <td>@Model.Vehicle.Name</td>
            <td>@Model.Vehicle.Driver.FIO</td>
            <td>@Model.Vehicle.Driver.PhoneNumber</td>
            <td>@Model.Vehicle.Driver.Experience</td>
            <td>@Html.ActionLink("Изменить", "Edit", "Order", new { orderId = Model.ID })</td>
            <td>@Html.ActionLink("Удалить", "Delete", "Order", new { id = Model.ID })</td>
        </tr>
    </table>
</div>
