@model IEnumerable<Warehouse.Models.Customer>
@{
    ViewData["Title"] = "Заказчики";
}

<style type="text/css">
    TABLE {
        border: 1px solid black;
    }

    TR {
        padding: 3px;
        border: 1px solid black;
    }
</style>
<div class="text-center">
    <h1 class="col-md-12">Продукция</h1>
</div>
<div class="text-left">
    <table style="width:100%;" class="col-md-12">
        <tr align="center">
            <td>ФИО</td>
            <td>Номер телефона</td>
            <td>Компания</td>
            <td>Город</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var customer in Model)
        {
            <tr align="center">
                <td>@customer.FIO</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.CompanyName</td>
                <td>@customer.City</td>
                <td>@Html.ActionLink("Изменить", "Edit", "Customer", new { customerId = customer.ID })</td>
                <td>@Html.ActionLink("Удалить", "Delete", "Customer", new { id = customer.ID })</td>
            </tr>
        }
    </table>
    <br />
    @using (Html.BeginForm("Add", "Customer", FormMethod.Get))
    {
        <button class="form-control">Добавить</button>
    }
</div>