@{
    ViewData["Title"] = "Index";
}

    <style type="text/css">
        div.productCode, div.productParty, div.storageName, div.storageTerritory {
            display: inline-block;
            margin: 20px;
        }

        h5.index-header-h5 {
            padding-left: 5px;
            padding-top: 5px;
        }

        div.search, div.edit {
            padding: 3px;
            border: 1px solid black;
            margin-bottom: 10px;
        }
    </style>
    <div class="indexContainer">
        <div class="search">
            <form>
                <h5 class="index-header-h5">Поиск по карте</h5>
                <div class="productCode">
                    <p>Код товара</p>
                    <select name="code">
                        <option value=""></option>
                        @foreach (string code in ViewBag.Codes)
                        {
                            <option value="@code">@code</option>
                        }
                    </select>
                </div>
                <div class="productParty">
                    <p>Партия</p>
                    <select name="party">
                        <option value=""></option>
                        @foreach (string party in ViewBag.Parties)
                        {
                            <option value="@party">@party</option>
                        }
                    </select>
                </div>
                <button type="submit" formaction="GetSelectedProducts" formmethod="get">Найти</button>
                <button type="submit" formaction="GetPdfFile">Экспорт в PDF</button>
                <button type="submit">Инвентаризация</button>
            </form>
        </div>
        <div class="edit">
            <form>
                <h5 class="index-header-h5">Редактировать данные</h5>
                <div class="storageName">
                    <p>Склад</p>
                    <select name="storageName">
                        @foreach (string storageName in ViewBag.StoragesNames)
                        {
                            <option value="@storageName">@storageName</option>
                        }
                    </select>
                </div>
                <div class="storageTerritory">
                    <p>Территория</p>
                    <select name="territoryName">
                        @foreach (string storageTerritory in ViewBag.Territories)
                        {
                            <option value="@storageTerritory">@storageTerritory</option>
                        }
                    </select>
                </div>
                <button type="submit" formaction="SelectProductsInStorage" formmethod="get">Перейти</button>
                <button type="submit" formaction="GetStorages" formmethod="get">Список складов</button>
                <button type="submit">Загрузить со сканера</button>
            </form>
        </div>
    </div>

