@model Warehouse.ViewModels.ProductsViewModel
@{
    ViewData["Title"] = "Products";
}

<style type="text/css">
    TABLE {
        border: 1px solid black; /* Рамка вокруг таблицы */
    }

    TR {
        padding: 3px; /* Поля вокруг содержимого ячеек */
        border: 1px solid black; /* Рамка вокруг таблицы */
    }
</style>
<div class="text-center">
    <h1 class="col-md-12">Продукция</h1>
</div>
<div class="text-left">
    <table style="width:100%;" class="col-md-12">
        <tr align="center">
            <td>Склад</td>
            <td>Территория</td>
            <td>Сектор</td>
            <td>Ряд</td>
            <td>Код</td>
            <td>Наименование</td>
            <td>Партия</td>
            <td>Срок</td>
            <td>Кол-во коробов в паллете</td>
            <td>Примечания</td>
            <td>Стоимость</td>
            <td>Кол-во паллет</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var item in Model.Products)
        {
    <tr align="center">
        <td>@item.Storage.Name</td>
        <td>@item.Storage.Territory</td>
        <td>@item.Sector</td>
        <td>@item.Number</td>
        <td>@item.Product.Code</td>
        <td>@item.Product.Name</td>
        <td>@item.Product.Party</td>
        <td>@item.Product.Term.ToShortDateString()</td>
        <td>@item.Product.BoxesInPallete</td>
        <td>@item.Product.Comment</td>
        <td>@item.Product.Cost</td>
        <td>@item.NumOfPalletes</td>
        <td>@Html.ActionLink("Изменить", "Edit", "Product", new { placeId = item.ID })</td>
        <td>@Html.ActionLink("Удалить", "Delete", "Product", new { id = item.ID })</td>
    </tr>
        }
    </table>
    @using (Html.BeginForm("Add", "Product", FormMethod.Get))
    {
        <button>Добавить</button>
    }
</div>

